*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2 {
  font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

body {
  margin: 0;
  font-family: "Outfit";
  color: #742305;
  background-color: #ffffff;
}

header {
  padding-block: 1rem;
  background-color: #fbf7e3;
}

ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  vertical-align: baseline;
}
ul li {
  list-style-type: none;
  padding: 0.6rem 0.5rem;
  width: 5rem;
  background-color: #ffdf7f;
  border-radius: 3rem;
  text-align: center;
  font-size: small;
  font-weight: 600;
}

#logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
  padding-inline: 0.8rem;
  width: 8rem;
  font-size: x-large;
}
li img {
  width: 2.3rem;
}

main {
  padding-top: 1rem;
  padding-inline: 1rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.card {
  border-radius: 4rem;
  background-color: #fbf7e3;
  width: 48%;
  text-align: center;
}
.card img {
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
  width: 100%;
}

.card-caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: baseline;
  padding-top: 1rem;
  padding-inline: 2rem;
}

.card-caption h4 {
  margin-bottom: 0;
}

.card-caption p {
  font-size: smaller;
}

.card button {
  margin: auto;
  margin-bottom: 0.5rem;
  padding-block: 0.5rem;
  padding-inline: 2rem;
  border: none;
  border-radius: 3rem;
  background-color: #ffdf7f;
  color: inherit;
  font-size: x-small;
  font-weight: bold;
}

article {
  margin-top: 3rem;
  margin-inline: 1rem;
}

#container {
  padding: 2rem;
  background-color: #fbf7e3;
  border-radius: 3rem;
}

#container img {
  width: 100%;
}

@media screen and (max-width: 575px) {
  header {
    margin-top: 1rem;
    border-radius: 5rem;
  }
  ul {
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.5rem;
  }

  ul li {
    width: 40%;
  }
  #logo {
    order: -1;
    width: 70%;
    justify-content: center;
    gap: 1rem;
  }

  #logo img {
    width: 4rem;
  }
  main {
    padding-inline: 0;
  }

  main h1 {
    text-align: center;
  }

  main section {
    justify-content: center;
  }

  .card {
    width: 90%;
  }

  article h2 {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
  }

  header {
    padding: 1rem;
  }
  ul {
    flex-wrap: wrap;
    gap: 1rem;
  }

  ul li {
    padding-block: 1.5rem;
    padding-inline: 0.8rem;
    width: 8rem;
  }

  #logo {
    order: -1;
  }

  main {
    padding: rem;
  }

  section {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 992px) {
  main {
    max-width: 60;
  }
}

@media screen and (min-width: 1200px) {
  main {
    height: 100vh;
    overflow: auto;
  }

  #container {
    display: flex;
  }

  #container img {
    order: -1;
    width: 50%;
  }

  #container div {
    padding-left: 1rem;
  }
}
